.errorDiv {
  width: 400px;
  right: 10px;
  top: 60px;
  position: fixed;
  z-index: 20000000;
}

.page-logo a {
  font-size: 24px;
  font-weight: 300;
  padding: 20px;
}

.page-logo a span {
  font-weight: 600;
  color: #ff0000;
}

.page-logo a {
  text-decoration: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img {
  border: 1px groove #0000ff;
}

.company-logo {
  margin: 0 auto;
  max-width: 300px;
}

.row_number:hover {
  cursor: move;
}

.overlay {
  z-index: 500000;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay span {
  font-size: 4em !important;
  color: #ff0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  margin-top: -15px;
  font-size: 30px;
}

.overlay h5 {
  color: #ff0;
  position: relative;
  top: 50%;
  left: 50%;
  margin: -20px auto;
  font-size: 25px;
}

.iPdf {
  overflow: hidden;
  height: 700px;
  width: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.toast-top-right {
  top: 80px !important;
}

.dataTable th {
  text-align: center;
}

.droppable {
  min-height: 400px;
  border: 1px solid #e5e5e5;
}

.page-logo img {
  height: 65px;
  margin-top: -15px;
}

.page-header.navbar {
  background: #fff;
}

.page-footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 70px;
  padding: 5px;
  width: calc(100% - 235px);
}

.page-footer-inner {
  text-align: center;
  width: 100%;
}

.page-footer-inner ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.page-footer-inner ul li {
  display: inline-block;
  padding: 5px 20px;
  border-right: 1px solid #ddebf6;
}

.page-footer-inner ul li:last-child {
  border-right: none;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background: #fff;
}

.dashboard a,
.dashboard a:hover {
  text-decoration: none;
}

.dashboard .number {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .number small {
  font-size: 14px;
  color: #AAB5BC;
  font-weight: 600;
  text-transform: uppercase;
}

.login .page-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow-y: scroll;
}

.login .copyright {
  font-weight: 600;
  color: #000;
  font-size: 1.1em;
}

.login .copyright a {
  color: #000;
}

.login .form-group button {
  margin-top: 20px;
  border-radius: 0;
}

.login .form-control {
  border-radius: 0;
}

.login label.checkbox {
  margin-left: 10px;
}

.login form {
  padding: 0 20px;
}

.login .form-holder {
  background: #fff;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  max-width: 350px;
  width: 100%;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.login .logo {
  margin: 0 auto 40px auto;
  padding: 5px !important;
  max-height: 100px;
}

.login .logo img {
  max-height: 100px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlc291cmNlcy9hc3NldHMvc2Fzcy9hcHAuc2NzcyIsInJlc291cmNlcy9hc3NldHMvc2Fzcy9zdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCIuL3N0eWxlXCI7XG5cbi5wYWdlLWxvZ28ge1xuICBpbWcge1xuICAgIGhlaWdodDogNjVweDtcbiAgICBtYXJnaW4tdG9wOiAtMTVweDtcbiAgfVxufVxuXG4ucGFnZS1oZWFkZXIubmF2YmFyIHtcbiAgYmFja2dyb3VuZDogI2ZmZjtcbn1cblxuLnBhZ2UtZm9vdGVyIHtcbiAgcG9zaXRpb246IGZpeGVkO1xuICB6LWluZGV4OiAtMTtcbiAgYm90dG9tOiAwO1xuICBsZWZ0OiAwO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xuICBoZWlnaHQ6IDcwcHg7XG4gIHBhZGRpbmc6IDVweDtcbiAgd2lkdGg6IGNhbGMoMTAwJSAtIDIzNXB4KTtcbn1cblxuLnBhZ2UtZm9vdGVyLWlubmVyIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB3aWR0aDogMTAwJTtcblxuICB1bCB7XG4gICAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xuICAgIG1hcmdpbi1ib3R0b206IDA7XG4gICAgcGFkZGluZy1sZWZ0OiAwO1xuXG4gICAgbGkge1xuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgICAgcGFkZGluZzogNXB4IDIwcHg7XG4gICAgICBib3JkZXItcmlnaHQ6IDFweCBzb2xpZCAjZGRlYmY2O1xuXG4gICAgICAmOmxhc3QtY2hpbGQge1xuICAgICAgICBib3JkZXItcmlnaHQ6IG5vbmU7XG4gICAgICB9XG4gICAgfVxuICB9XG59XG5cbi5wYWdlLWhlYWRlci5uYXZiYXIgLnRvcC1tZW51IC5uYXZiYXItbmF2ID4gbGkuZHJvcGRvd24gLmRyb3Bkb3duLXRvZ2dsZTpob3ZlciB7XG4gIGJhY2tncm91bmQ6ICNmZmY7XG59XG5cblxuXG4uZGFzaGJvYXJkIGEsXG4uZGFzaGJvYXJkIGE6aG92ZXIge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG5cbi5kYXNoYm9hcmQgLm51bWJlciB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG5cbiAgc21hbGwge1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICBjb2xvcjogI0FBQjVCQztcbiAgICBmb250LXdlaWdodDogNjAwO1xuICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gIH1cbn1cblxuLmxvZ2luIHtcbiAgLnBhZ2UtY29udGVudCB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHBvc2l0aW9uOiBmaXhlZDtcbiAgICB0b3A6IDA7XG4gICAgbGVmdDogMDtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBhbGlnbi1jb250ZW50OiBjZW50ZXI7XG4gICAgb3ZlcmZsb3cteTogc2Nyb2xsO1xuICB9XG5cbiAgLmNvcHlyaWdodCB7XG4gICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICBjb2xvcjogIzAwMDtcbiAgICBmb250LXNpemU6IDEuMWVtO1xuXG4gICAgYSB7XG4gICAgICBjb2xvcjogIzAwMDtcbiAgICB9XG4gIH1cblxuICAuZm9ybS1ncm91cCBidXR0b24ge1xuICAgIG1hcmdpbi10b3A6IDIwcHg7XG4gICAgYm9yZGVyLXJhZGl1czogMDtcbiAgfVxuXG4gIC5mb3JtLWNvbnRyb2wge1xuICAgIGJvcmRlci1yYWRpdXM6IDA7XG4gIH1cblxuICBsYWJlbC5jaGVja2JveCB7XG4gICAgbWFyZ2luLWxlZnQ6IDEwcHg7XG4gIH1cblxuICBmb3JtIHtcbiAgICBwYWRkaW5nOiAwIDIwcHg7XG4gIH1cblxuICAuZm9ybS1ob2xkZXIge1xuICAgIGJhY2tncm91bmQ6ICNmZmY7XG4gICAgZmxleC1iYXNpczoyMDBweDtcbiAgICBtYXgtd2lkdGg6IDM1MHB4O1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIHBhZGRpbmc6IDIwcHg7XG4gICAgYm94LXNoYWRvdzogMnB4IDJweCA1cHggcmdiYSgwLCAwLCAwLCAwLjUpO1xuICB9XG5cbiAgLmxvZ28ge1xuICAgIG1hcmdpbjogMCBhdXRvIDQwcHggYXV0bztcbiAgICBwYWRkaW5nOiA1cHggIWltcG9ydGFudDtcbiAgICBtYXgtaGVpZ2h0OiAxMDBweDtcblxuICAgIGltZyB7XG4gICAgICBtYXgtaGVpZ2h0OiAxMDBweDtcbiAgICB9XG4gIH1cbn1cblxuXG4iLCIuZXJyb3JEaXYge1xuICAgIHdpZHRoOiA0MDBweDtcbiAgICByaWdodDogMTBweDtcbiAgICB0b3A6IDYwcHg7XG4gICAgcG9zaXRpb246IGZpeGVkO1xuICAgIHotaW5kZXg6IDIwMDAwMDAwO1xufVxuXG4ucGFnZS1sb2dvIGF7XG4gICAgZm9udC1zaXplOiAyNHB4O1xuICAgIGZvbnQtd2VpZ2h0OiAzMDA7XG4gICAgcGFkZGluZzogMjBweDtcbn1cblxuLnBhZ2UtbG9nbyBhIHNwYW57XG4gICAgZm9udC13ZWlnaHQ6IDYwMDtcbiAgICBjb2xvcjogI2ZmMDAwMDtcbn1cblxuLnBhZ2UtbG9nbyBhIHtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG59XG5cbi5wYWdlLWhlYWRlci5uYXZiYXIgLnRvcC1tZW51IC5uYXZiYXItbmF2ID4gbGkuZHJvcGRvd24tdXNlciAuZHJvcGRvd24tdG9nZ2xlID4gaW1nXG57XG4gICAgYm9yZGVyOiAxcHggZ3Jvb3ZlICMwMDAwZmY7XG59XG5cbi5jb21wYW55LWxvZ29cbntcbiAgICBtYXJnaW46IDAgYXV0bztcbiAgICBtYXgtd2lkdGg6IDMwMHB4O1xufVxuXG4ucm93X251bWJlcjpob3Zlclxue1xuICAgIGN1cnNvcjogbW92ZTtcbn1cblxuLm92ZXJsYXkge1xuICAgIHotaW5kZXg6IDUwMDAwMDtcbiAgICBiYWNrZ3JvdW5kOiByZ2JhKDAsIDAsIDAsIDAuNSk7XG4gICAgYm9yZGVyLXJhZGl1czogM3B4O1xuICAgIHBvc2l0aW9uOiBmaXhlZDtcbiAgICB0b3A6IDA7XG4gICAgbGVmdDogMDtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDEwMCU7XG59XG4ub3ZlcmxheSBzcGFuXG57XG4gICAgZm9udC1zaXplOiA0ZW0gIWltcG9ydGFudDtcbiAgICBjb2xvcjogI2ZmMDtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgdG9wOiA1MCU7XG4gICAgbGVmdDogNTAlO1xuICAgIG1hcmdpbi1sZWZ0OiAtNTVweDtcbiAgICBtYXJnaW4tdG9wOiAtMTVweDtcbiAgICBmb250LXNpemU6IDMwcHg7XG59XG5cbi5vdmVybGF5IGg1IHtcbiAgICBjb2xvcjogI2ZmMDtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgdG9wOiA1MCU7XG4gICAgbGVmdDogNTAlO1xuICAgIG1hcmdpbjogLTIwcHggYXV0bztcbiAgICBmb250LXNpemU6IDI1cHg7XG59XG5cbi5pUGRmXG57XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICBoZWlnaHQ6IDcwMHB4O1xuICAgIHdpZHRoOiAxMDAlO1xuXG4gICAgLW1vei10cmFuc2Zvcm0tb3JpZ2luOiAgdG9wIGxlZnQ7XG4gICAgLXdlYmtpdC10cmFuc2Zvcm0tb3JpZ2luOiAgdG9wIGxlZnQ7XG4gICAgLW8tdHJhbnNmb3JtLW9yaWdpbjogIHRvcCBsZWZ0O1xuICAgIC1tcy10cmFuc2Zvcm0tb3JpZ2luOiAgdG9wIGxlZnQ7XG4gICAgdHJhbnNmb3JtLW9yaWdpbjogdG9wIGxlZnQ7XG59XG5cbi50b2FzdC10b3AtcmlnaHQge1xuICAgIHRvcDogODBweCAhaW1wb3J0YW50O1xufVxuXG4uZGF0YVRhYmxlIHRoIHtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbi5kcm9wcGFibGUge1xuICAgIG1pbi1oZWlnaHQ6IDQwMHB4O1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICNlNWU1ZTU7XG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQ0FBLEFBQUEsU0FBUyxDQUFDO0VBQ04sS0FBSyxFQUFFLEtBQUs7RUFDWixLQUFLLEVBQUUsSUFBSTtFQUNYLEdBQUcsRUFBRSxJQUFJO0VBQ1QsUUFBUSxFQUFFLEtBQUs7RUFDZixPQUFPLEVBQUUsUUFBUTtDQUNwQjs7QUFFRCxBQUFXLFVBQUQsQ0FBQyxDQUFDLENBQUE7RUFDUixTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxHQUFHO0VBQ2hCLE9BQU8sRUFBRSxJQUFJO0NBQ2hCOztBQUVELEFBQWEsVUFBSCxDQUFDLENBQUMsQ0FBQyxJQUFJLENBQUE7RUFDYixXQUFXLEVBQUUsR0FBRztFQUNoQixLQUFLLEVBQUUsT0FBTztDQUNqQjs7QUFFRCxBQUFXLFVBQUQsQ0FBQyxDQUFDLENBQUM7RUFDVCxlQUFlLEVBQUUsSUFBSTtDQUN4Qjs7QUFFRCxBQUFnRixZQUFwRSxBQUFBLE9BQU8sQ0FBQyxTQUFTLENBQUMsV0FBVyxHQUFHLEVBQUUsQUFBQSxjQUFjLENBQUMsZ0JBQWdCLEdBQUcsR0FBRyxDQUNuRjtFQUNJLE1BQU0sRUFBRSxrQkFBa0I7Q0FDN0I7O0FBRUQsQUFBQSxhQUFhLENBQ2I7RUFDSSxNQUFNLEVBQUUsTUFBTTtFQUNkLFNBQVMsRUFBRSxLQUFLO0NBQ25COztBQUVELEFBQUEsV0FBVyxBQUFBLE1BQU0sQ0FDakI7RUFDSSxNQUFNLEVBQUUsSUFBSTtDQUNmOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsT0FBTyxFQUFFLE1BQU07RUFDZixVQUFVLEVBQUUsa0JBQWtCO0VBQzlCLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLFFBQVEsRUFBRSxLQUFLO0VBQ2YsR0FBRyxFQUFFLENBQUM7RUFDTixJQUFJLEVBQUUsQ0FBQztFQUNQLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLElBQUk7Q0FDZjs7QUFDRCxBQUFTLFFBQUQsQ0FBQyxJQUFJLENBQ2I7RUFDSSxTQUFTLEVBQUUsY0FBYztFQUN6QixLQUFLLEVBQUUsSUFBSTtFQUNYLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLEdBQUcsRUFBRSxHQUFHO0VBQ1IsSUFBSSxFQUFFLEdBQUc7RUFDVCxXQUFXLEVBQUUsS0FBSztFQUNsQixVQUFVLEVBQUUsS0FBSztFQUNqQixTQUFTLEVBQUUsSUFBSTtDQUNsQjs7QUFFRCxBQUFTLFFBQUQsQ0FBQyxFQUFFLENBQUM7RUFDUixLQUFLLEVBQUUsSUFBSTtFQUNYLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLEdBQUcsRUFBRSxHQUFHO0VBQ1IsSUFBSSxFQUFFLEdBQUc7RUFDVCxNQUFNLEVBQUUsVUFBVTtFQUNsQixTQUFTLEVBQUUsSUFBSTtDQUNsQjs7QUFFRCxBQUFBLEtBQUssQ0FDTDtFQUNJLFFBQVEsRUFBRSxNQUFNO0VBQ2hCLE1BQU0sRUFBRSxLQUFLO0VBQ2IsS0FBSyxFQUFFLElBQUk7RUFFWCxxQkFBcUIsRUFBRyxRQUFRO0VBQ2hDLHdCQUF3QixFQUFHLFFBQVE7RUFDbkMsbUJBQW1CLEVBQUcsUUFBUTtFQUM5QixvQkFBb0IsRUFBRyxRQUFRO0VBQy9CLGdCQUFnQixFQUFFLFFBQVE7Q0FDN0I7O0FBRUQsQUFBQSxnQkFBZ0IsQ0FBQztFQUNiLEdBQUcsRUFBRSxlQUFlO0NBQ3ZCOztBQUVELEFBQVcsVUFBRCxDQUFDLEVBQUUsQ0FBQztFQUNWLFVBQVUsRUFBRSxNQUFNO0NBQ3JCOztBQUVELEFBQUEsVUFBVSxDQUFDO0VBQ1AsVUFBVSxFQUFFLEtBQUs7RUFDakIsTUFBTSxFQUFFLGlCQUFpQjtDQUM1Qjs7QUQ1RkQsQUFDRSxVQURRLENBQ1IsR0FBRyxDQUFDO0VBQ0YsTUFBTSxFQUFFLElBQUk7RUFDWixVQUFVLEVBQUUsS0FBSztDQUNsQjs7QUFHSCxBQUFBLFlBQVksQUFBQSxPQUFPLENBQUM7RUFDbEIsVUFBVSxFQUFFLElBQUk7Q0FDakI7O0FBRUQsQUFBQSxZQUFZLENBQUM7RUFDWCxRQUFRLEVBQUUsS0FBSztFQUNmLE9BQU8sRUFBRSxFQUFFO0VBQ1gsTUFBTSxFQUFFLENBQUM7RUFDVCxJQUFJLEVBQUUsQ0FBQztFQUNQLGdCQUFnQixFQUFFLElBQUk7RUFDdEIsTUFBTSxFQUFFLElBQUk7RUFDWixPQUFPLEVBQUUsR0FBRztFQUNaLEtBQUssRUFBRSxrQkFBa0I7Q0FDMUI7O0FBRUQsQUFBQSxrQkFBa0IsQ0FBQztFQUNqQixVQUFVLEVBQUUsTUFBTTtFQUNsQixLQUFLLEVBQUUsSUFBSTtDQWlCWjs7QUFuQkQsQUFJRSxrQkFKZ0IsQ0FJaEIsRUFBRSxDQUFDO0VBQ0QsZUFBZSxFQUFFLElBQUk7RUFDckIsYUFBYSxFQUFFLENBQUM7RUFDaEIsWUFBWSxFQUFFLENBQUM7Q0FXaEI7O0FBbEJILEFBU0ksa0JBVGMsQ0FJaEIsRUFBRSxDQUtBLEVBQUUsQ0FBQztFQUNELE9BQU8sRUFBRSxZQUFZO0VBQ3JCLE9BQU8sRUFBRSxRQUFRO0VBQ2pCLFlBQVksRUFBRSxpQkFBaUI7Q0FLaEM7O0FBakJMLEFBU0ksa0JBVGMsQ0FJaEIsRUFBRSxDQUtBLEVBQUUsQUFLQSxXQUFZLENBQUM7RUFDWCxZQUFZLEVBQUUsSUFBSTtDQUNuQjs7QUFLUCxBQUF3RCxZQUE1QyxBQUFBLE9BQU8sQ0FBQyxTQUFTLENBQUMsV0FBVyxHQUFHLEVBQUUsQUFBQSxTQUFTLENBQUMsZ0JBQWdCLEFBQUEsTUFBTSxDQUFDO0VBQzdFLFVBQVUsRUFBRSxJQUFJO0NBQ2pCOztBQUlELEFBQVcsVUFBRCxDQUFDLENBQUM7QUFDWixBQUFXLFVBQUQsQ0FBQyxDQUFDLEFBQUEsTUFBTSxDQUFDO0VBQ2pCLGVBQWUsRUFBRSxJQUFJO0NBQ3RCOztBQUVELEFBQVcsVUFBRCxDQUFDLE9BQU8sQ0FBQztFQUNqQixVQUFVLEVBQUUsTUFBTTtFQUNsQixlQUFlLEVBQUUsTUFBTTtDQVF4Qjs7QUFWRCxBQUlFLFVBSlEsQ0FBQyxPQUFPLENBSWhCLEtBQUssQ0FBQztFQUNKLFNBQVMsRUFBRSxJQUFJO0VBQ2YsS0FBSyxFQUFFLE9BQU87RUFDZCxXQUFXLEVBQUUsR0FBRztFQUNoQixjQUFjLEVBQUUsU0FBUztDQUMxQjs7QUFHSCxBQUNFLE1BREksQ0FDSixhQUFhLENBQUM7RUFDWixLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0VBQ1osUUFBUSxFQUFFLEtBQUs7RUFDZixHQUFHLEVBQUUsQ0FBQztFQUNOLElBQUksRUFBRSxDQUFDO0VBQ1AsT0FBTyxFQUFFLElBQUk7RUFDYixjQUFjLEVBQUUsTUFBTTtFQUN0QixlQUFlLEVBQUUsTUFBTTtFQUN2QixXQUFXLEVBQUUsTUFBTTtFQUNuQixhQUFhLEVBQUUsTUFBTTtFQUNyQixVQUFVLEVBQUUsTUFBTTtDQUNuQjs7QUFiSCxBQWVFLE1BZkksQ0FlSixVQUFVLENBQUM7RUFDVCxXQUFXLEVBQUUsR0FBRztFQUNoQixLQUFLLEVBQUUsSUFBSTtFQUNYLFNBQVMsRUFBRSxLQUFLO0NBS2pCOztBQXZCSCxBQW9CSSxNQXBCRSxDQWVKLFVBQVUsQ0FLUixDQUFDLENBQUM7RUFDQSxLQUFLLEVBQUUsSUFBSTtDQUNaOztBQXRCTCxBQXlCYyxNQXpCUixDQXlCSixXQUFXLENBQUMsTUFBTSxDQUFDO0VBQ2pCLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLGFBQWEsRUFBRSxDQUFDO0NBQ2pCOztBQTVCSCxBQThCRSxNQTlCSSxDQThCSixhQUFhLENBQUM7RUFDWixhQUFhLEVBQUUsQ0FBQztDQUNqQjs7QUFoQ0gsQUFrQ0UsTUFsQ0ksQ0FrQ0osS0FBSyxBQUFBLFNBQVMsQ0FBQztFQUNiLFdBQVcsRUFBRSxJQUFJO0NBQ2xCOztBQXBDSCxBQXNDRSxNQXRDSSxDQXNDSixJQUFJLENBQUM7RUFDSCxPQUFPLEVBQUUsTUFBTTtDQUNoQjs7QUF4Q0gsQUEwQ0UsTUExQ0ksQ0EwQ0osWUFBWSxDQUFDO0VBQ1gsVUFBVSxFQUFFLElBQUk7RUFDaEIsVUFBVSxFQUFDLEtBQUs7RUFDaEIsU0FBUyxFQUFFLEtBQUs7RUFDaEIsS0FBSyxFQUFFLElBQUk7RUFDWCxPQUFPLEVBQUUsSUFBSTtFQUNiLFVBQVUsRUFBRSxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBa0I7Q0FDM0M7O0FBakRILEFBbURFLE1BbkRJLENBbURKLEtBQUssQ0FBQztFQUNKLE1BQU0sRUFBRSxnQkFBZ0I7RUFDeEIsT0FBTyxFQUFFLGNBQWM7RUFDdkIsVUFBVSxFQUFFLEtBQUs7Q0FLbEI7O0FBM0RILEFBd0RJLE1BeERFLENBbURKLEtBQUssQ0FLSCxHQUFHLENBQUM7RUFDRixVQUFVLEVBQUUsS0FBSztDQUNsQiJ9 */